.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
    
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 19px;
}
.navbar-logo {
    width: 150px;
    height: auto;
    margin-right: 10px; /* Space between logo and menu */
    cursor: pointer;
  
    transition: 0.5s;
  }
  
.navbar-logo:hover{

 transform: scale(1.05);
  }
.nav-connect{
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #8e44ad 0%, #4a148c 100%);

    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
  transform: scale(1.05);
}  

.underline{
  display: flex;
  margin: auto;
  width:50px;
  height: auto;
}

.nav-menu li{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.anchor-link{
  text-decoration: none;
  color: white;
}

.nav-mob-close{
  display: none;

}

.nav-mob-open{
  display: none;
}

@media(max-width:768px) {
  .navbar {
    margin: 20px 10px;
    justify-content: flex-start; /* Align items to the left */
  }

  .nav-connect {
    display: none;
  }

  /* Ensure the logo is aligned left on mobile */
  .navbar-logo {
    
    width: 120px; /* Adjust width for mobile */
    margin-left:10px ;
   
  }
  
  .nav-mob-open {
    display: block;
    position: absolute;
    
    right: 30px; /* Anchor to the right */
    width: 30px;
  }

  .nav-mob-close{
    display: block;
    position: relative;
    top: 30px;
    left: 250px;
    width:15px;
  
  }
  
  .nav-menu{
    position:fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color:#1f0016;
    opacity: 1;
    width: 300px;
    height: 100%;
    z-index: 2;
    transition: right  0.5s;
    right : -350px;  /** hides the nav bar**/
  
  }
  
  .nav-menu li{
    font-size: 20px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
  
}

